header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .header__socials{
        width: 100%;
        background-color: red;
        .header-socials__list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            .socials-list__link{
                text-decoration: none;
            }
        }
    }
}