header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .header__socials{
        width: 100%;
        height: auto;
        background-color: red;
        .header-socials__list{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            list-style: none;
            .socials-list__link{
                text-decoration: none;
                margin: 5px;
                padding: 5px;
            }
        }
    }
    .header__main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}