//Colors


// Primary colors

$primary: #AFC0C5;
$primary-dark: #085274;

// Secondary colors
$dark_secondary:#056F66;
$light_secondary:#4CF3DA;

// Neutral

$dark_neutral: #444444;
$light_neutral: #ffffff;


// @extends

.display-row{
    display: flex;
    flex-direction: row;
}
.display-column{
    display: flex;
    flex-direction: column;
}