
<header class=" w-screen  flex flex-col  ">
    <section class="header__socials hidden tablet:block desktop:block">
        <ul class="header-socials__list tablet: flex flex-row bg-darkPrimaryDevshop p-3" >
            <li class="socials-list__link tablet: pr-2">
                <a href="https://es-es.facebook.com/" class="list-link__anchor"><fa-icon [icon]="faCoffee" ></fa-icon></a>
            </li>
            <li class="socials-list__link tablet: pr-2">
                <a href="https://www.instagram.com/" class="list-link__anchor"><fa-icon [icon]="faCoffee"></fa-icon></a>
            </li>
            <li class="socials-list__link tablet: pr-2">
                <a href="https://twitter.com/?lang=es" class="list-link__anchor"><fa-icon [icon]="faCoffee"></fa-icon></a>
            </li>
        </ul>
    </section>
    <section class="header__main bg-darkPrimaryDevshop  tablet:bg-lightPrimaryDevshop flex flex-row items-center justify-between pt-5 pb-5 desktop:bg-lightPrimaryDevshop flex flex-row items-center justify-between pt-0 pb-0">
       
        <section class="header-main__searchEngine py-3">
            <fa-icon  [icon]="faCoffee"class="searchEngine__icon ml-2"></fa-icon>
            <input type="text" name="" id="" class="searchEngine__input ml-3 pl-1 tablet:bg-lightPrimaryDevshop desktop:bg-lightPrimaryDevshop" placeholder="Buscador">
        </section>                              
        <section class="header-main__logo hidden desktop:block">
            <figure class="main-logo__container"> 
                <img src="../../../../assets/img/logo-t.png" alt="Identidad corporativa"  class="desktop: h-24 pr-28 ">
            </figure>
        </section>
        <section class="header-main__userArea hidden tablet:block desktop:block">
            <ul class="main-userArea__list tablet:flex flex-row desktop:flex flex-row pr-5">
                <li class="userArea__link "><a href="http://localhost:4200/login" class="userArea-link__anchor tablet: pr-2 desktop:mr-2"><fa-icon [icon]="faCoffee"></fa-icon></a></li>
                <li class="userArea__link "><a href="" class="userArea-link__anchor"><fa-icon [icon]="faCoffee"></fa-icon></a></li>
            </ul>
        </section>
    
    </section>
</header>
