
<header>
    <section class="header__socials">
        <ul class="header-socials__list">
            <li class="socials-list__link">
                <a href="https://es-es.facebook.com/" class="list-link__anchor"><<fa-icon [icon]="['fab', 'facebook']" style="font-size:30px; color: #ffffff;"></fa-icon></a>
            </li>
            <li class="socials-list__link">
                <a href="https://www.instagram.com/" class="list-link__anchor"><fa-icon [icon]="faCoffee"></fa-icon></a>
            </li>
            <li class="socials-list__link">
                <a href="https://twitter.com/?lang=es" class="list-link__anchor"><fa-icon [icon]="faCoffee"></fa-icon></a>
            </li>
        </ul>
    </section>
    <section class="header__main">
        <section class="header-main__searchEngine">
            <input type="text" name="" id="" class="searchEngine__input">
            <fa-icon [icon]="faCoffee">LUPA</fa-icon>
        </section>
        <section class="header-main__logo">
            <figure class="main-logo__container">
                <img src="../../../../assets/img/logo-t.png" alt="Identidad corporativa">
            </figure>
        </section>
        <section class="header-main__userArea">
            <ul class="main-userArea__list">
                <li class="userArea__link"><a href="" class="userArea-link__anchor"><fa-icon [icon]="faCoffee">USER</fa-icon></a></li>
                <li class="userArea__link"><a href="" class="userArea-link__anchor"><fa-icon [icon]="faCoffee">CART</fa-icon></a></li>
            </ul>
        </section>
    </section>
</header>
