
<header class=" w-screen  flex flex-col  ">
    <section class="hidden tablet:block desktop:block">
        <ul class="tablet: flex flex-row bg-darkPrimaryDevshop p-3" >
            <li class="tablet: pr-2">
                <a href="https://es-es.facebook.com/" class="text-lightNeutralDevshop"><fa-icon  [icon]="faFacebook" ></fa-icon></a>
            </li>
            <li class="socials-list__link tablet: pr-2">
                <a href="https://www.instagram.com/" class="text-lightNeutralDevshop"><fa-icon [icon]="faInstagram"></fa-icon></a>
            </li>
            <li class="socials-list__link tablet: pr-2">
                <a href="https://twitter.com/?lang=es" class="text-lightNeutralDevshop"><fa-icon [icon]="faTwitter"></fa-icon></a>
            </li>
        </ul>
    </section>
    <section class="bg-darkPrimaryDevshop  tablet:bg-lightPrimaryDevshop flex flex-row items-center justify-between pt-5 pb-5 desktop:bg-lightPrimaryDevshop flex flex-row items-center justify-between pt-0 pb-0">
       
        <section class="py-3">
            <fa-icon  [icon]="faMagnifyingGlass"class="ml-2 text-lightPrimaryDevshop"></fa-icon>
            <input type="text" name="" id="" class="ml-3 pl-1 tablet:bg-lightPrimaryDevshop desktop:bg-lightPrimaryDevshop" placeholder="Buscador">
        </section>                              
        <section class="hidden desktop:block">
            <figure class=" cursor-pointer"(click)="navigateTo('')"> 
                <img ng-click="goToInit()" src="../../../../assets/img/logo-t.png" alt="Identidad corporativa"  class="desktop: h-24 pr-28 ">
            </figure>
        </section>
        <section class=" hidden tablet:block desktop:block">
            <ul class="tablet:flex flex-row justify-around desktop:flex flex-row pr-5">
                <li class="cursor-pointer" *ngIf="loginService.$isLogged.value !== undefined"><a (click)="logOut()" class="text-darkPrimaryDevshop tablet: pr-2 desktop:mr-2"><fa-icon [icon] = "faRightFromBracket"></fa-icon></a></li>
                <li class="cursor-pointer text-xs" *ngIf="loginService.$isLogged.value !== undefined"> Hola {{loginService.$isLogged.value.user.name}}</li>
                <li class="cursor-pointer"  *ngIf="loginService.$isLogged.value === undefined"><a (click)="goToLogin()" class="text-darkPrimaryDevshop tablet: pr-2 desktop:mr-2"><fa-icon [icon]="faUser"></fa-icon></a></li>
                <li class="cursor-pointer"><a (click)="goToCart()" class="text-darkPrimaryDevshop"><fa-icon [icon]="faCartShopping"></fa-icon></a></li>
            </ul>
        </section>
    
    </section>
</header>
