footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #AFC0C5;
    .footer__lists{
        width: 70%;
        padding: 30px 50px;
        display: flex;
        flex-direction: column;
        .lists__info{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            
            .lists-aboutUs__title, .lists-help__title, .lists-followUs__title{
                text-transform: uppercase;
                padding-bottom: 10px;
                color: #085274;
            }
            .lists-aboutUs__list, .lists-help__list, .lists-followUs__list{
                list-style: none;
            }
            .list__link{
                padding: 10px;
                font-size: 1rem;
            }
            .list-link__anchor{
                text-decoration: none;
                color: #085274;
            }
        }
   
        .lists__copyright{
            margin: auto;
            font-size: 0.9rem;
            padding: 10px;
            color: #085274;
        }
    }
    .footer__logo{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #AFC0C5;
        padding: 50px;
        .footer-logo__divider{
            width: 90%;
            margin:30px auto;
            border-bottom: 1px solid #085274;
        }
        .footer-logo__slogan{
            text-transform: uppercase;
        }
    }

}