<footer>
    <section class="footer__lists">
        <section class="footer-lists__aboutUs">
            <h3 class="lists-aboutUs__title">Sobre nosotros</h3>
            <ul class="lists-aboutUs__list">
                <li class="aboutUs-list__link"><a href="" class="list-link__anchor">Quiénes somos</a></li>
                <li class="aboutUs-list__link"><a href="" class="list-link__anchor">Responsabilidad social</a></li>
                <li class="aboutUs-list__link"><a href="" class="list-link__anchor">Condiciones de uso</a></li>
                <li class="aboutUs-list__link"><a href="" class="list-link__anchor">Política de privacidad</a></li>
            </ul>
        </section>
        <section class="footer-lists__help">
            <h3 class="lists-help__title">Ayuda</h3>
            <ul class="lists-help__list">
                <li class="help-list__link"><a href="" class="list-link__anchor">Devoluciones</a></li>
                <li class="help-list__link"><a href="" class="list-link__anchor">Contacto</a></li>
            </ul>
        </section>
        <section class="footer-lists__followUs">
            <h3 class="lists-followUs__title">Sobre nosotros</h3>
            <ul class="lists-followUs__list">
                <li class="followUs-list__link"><a href="" class="list-link__anchor">Facebook</a></li>
                <li class="followUs-list__link"><a href="" class="list-link__anchor">Instagram</a></li>
                <li class="followUs-list__link"><a href="" class="list-link__anchor">Twitter</a></li>
            </ul>
        </section>
    </section>
    <section class="footer__logo">
        <figure class="footer-logo__image">
            <img src="" alt="Identidad corporativa">
        </figure>
        <p class="footer-logo__slogan">One either loves it or one hates it</p>
    </section>
</footer>
