<nav class=" hidden tablet:block m-auto w-4/5" >
    <ul class="navbar__menu flex flex-row justify-center items-center list-none border-b darkPrimaryDevshop">
        <li class="navbar-menu__link py-5 px-12 uppercase">
            <a href="" class="menu-link__anchor no-underline text-lg text-py-5 px-12.5 text-darkPrimaryDevshop ">Inicio</a>
        </li>
        <li class="navbar-menu__link py-5 px-12 uppercase">
            <a href="" class="menu-link__anchor no-underline text-lg text-py-5 px-12.5 text-darkPrimaryDevshop ">Sudaderas</a>
        </li>
        <li class="navbar-menu__link py-5 px-12 uppercase">
            <a href="" class="menu-link__anchor no-underline text-lg text-py-5 px-12.5 text-darkPrimaryDevshop">Camisetas</a>
        </li>
        <li class="navbar-menu__link py-5 px-12 uppercase">
            <a href="" class="menu-link__anchor no-underline text-lg text-py-5 px-12.5 text-darkPrimaryDevshop">Tazas</a>
        </li>
        <li class="navbar-menu__link py-5 px-12 uppercase">
            <a href="" class="menu-link__anchor no-underline text-lg text-py-5 px-12.5 text-darkPrimaryDevshop">Contacto</a>
        </li>
    </ul>
</nav>
