<nav>
    <ul class="navbar__menu">
        <li class="navbar-menu__link"><a href="" class="menu-link__anchor">Inicio</a></li>
        <li class="navbar-menu__link"><a href="" class="menu-link__anchor">Sudaderas</a></li>
        <li class="navbar-menu__link"><a href="" class="menu-link__anchor">Camisetas</a></li>
        <li class="navbar-menu__link"><a href="" class="menu-link__anchor">Tazas</a></li>
        <li class="navbar-menu__link"><a href="" class="menu-link__anchor">Contacto</a></li>
    </ul>
</nav>
