<nav class=" hidden tablet:block m-auto w-screen bg-lightNeutralDevshop desktop:block m-auto w-screen bg-lightNeutralDevshop" >
    <ul class="navbar__menu tablet: flex flex-row justify-center items-center list-none border-b darkPrimaryDevshop">
        <li class="navbar-menu__link tablet:py-5  uppercase cursor-pointer">
            <a (click)="navigateTo('')" class="menu-link__anchor tablet:no-underline text-sm py-5 px-4 text-darkPrimaryDevshop desktop:text-base px-9">Inicio</a>
        </li>
        <li class="navbar-menu__link tablet: py-5  uppercase cursor-pointer">
            <a  (click)="navigateTo('catalog')" class="menu-link__anchor tablet:no-underline text-sm py-5 px-4 text-darkPrimaryDevshop desktop:text-base px-9">Productos</a>
        </li>
        <li class="navbar-menu__link tablet: py-5  uppercase cursor-pointer">
            <a  (click)="navigateTo('tshirts')" class="menu-link__anchor tablet:no-underline text-sm py-5 px-4 text-darkPrimaryDevshop desktop:text-base desktop:px-9">Camisetas</a>
        </li>
        <li class="navbar-menu__link tablet: py-5  uppercase cursor-pointer">
            <a (click)="navigateTo('mugs')"  class="menu-link__anchor tablet:no-underline text-sm py-5 px-4 text-darkPrimaryDevshop desktop:text-base desktop:px-9">Tazas</a>
        </li>
        <li class="navbar-menu__link tablet: py-5  uppercase cursor-pointer">
            <a (click)="navigateTo('contact')" class="menu-link__anchor tablet:no-underline text-sm py-5 px-4 text-darkPrimaryDevshop desktop:text-base desktop:px-9">Contacto</a>
        </li>
    </ul>
</nav>
