<p>register works!</p>
<form action="" class="register">
    <div class="register__title-container">
        <h3 class="register-title__text">Registro</h3>
    </div>
    <div class="register__fullname">
        <div class="fullname__name">
            <label for="firstname" class="name__label">Nombre</label>
            <input type="text" name="firstname" id="firstname" class="name__input">
        </div>
        <div class="fullname__surname">
            <label for="surname" class="surname__label">Nombre</label>
            <input type="text" name="surname" id="surname" class="surname__input">
        </div>
    </div>
    <div class="email">
        <div class="email__container">
            <label for="email" class="email__label">Nombre</label>
            <input type="text" name="email" id="email" class="email__input">
        </div>
    </div>
</form>