<footer class=" tablet:flex flex-row justify-around items-center bg-lightNeutralDevshop border-t border-darkPrimaryDevshop desktop:flex flex-row justify-between"> 
    <section class="hidden tablet:flex flex-col justify-between items-start w-3/5 bg-lightNeutralDevshop desktop:flex">
        <section class="tablet:flex flex-row justify-around items-start mt-5 w-full desktop:flex">
            <section class="tablet:flex flex-col items-start desktop:flex " >
                <h3 class="tablet:uppercase text-darkPrimaryDevshop font-bold text-sm desktop:uppercase text-darkPrimaryDevshop font-bold text-sm " >Sobre nosotros</h3>
                <ul >
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Quiénes somos</a></li>
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Responsabilidad social</a></li>
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Condiciones de uso</a></li>
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Política de privacidad</a></li>
                </ul>
            </section>
            <section >
                <h3 class="tablet:uppercase text-darkPrimaryDevshop font-bold text-sm desktop:uppercase text-darkPrimaryDevshop font-bold text-sm ">Ayuda</h3>
                <ul >
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Devoluciones</a></li>
                    <li ><a href="./../../../../assets/textFiles/useConditions.html" class="tablet:text-xs text-darkPrimaryDevshop desktop:text-xs text-darkPrimaryDevshop">Contacto</a></li>
                </ul>
            </section>
            <section >
                <h3 class="tablet:uppercase text-darkPrimaryDevshop font-bold text-sm desktop:uppercase text-darkPrimaryDevshop font-bold text-sm ">Redes sociales</h3>
                <ul class="tablet: flex flex-col justify-end" >
                    <li class="tablet: pr-2">
                        <a href="https://es-es.facebook.com/" class="text-darkPrimaryDevshop text-xs">Facebook</a>
                    </li>
                    <li class="socials-list__link tablet: pr-2">
                        <a href="https://www.instagram.com/" class="text-darkPrimaryDevshop text-xs">Instagram</a>
                    </li>
                    <li class="socials-list__link tablet: pr-2">
                        <a href="https://twitter.com/?lang=es" class="text-darkPrimaryDevshop text-xs">Twitter</a>
                    </li>
                </ul>
            </section>
        </section>
        <section class="hidden tablet:flex text-darkPrimaryDevshop text-xxs m-auto pt-2 desktop:flex desktop: text-darkPrimaryDevshop  text-xxs m-auto pt-2 ">
            <p class="text-xs ">@DevShop.Todos los derechos reservados</p>
        </section>
    </section>
    <section class=" hidden tablet:flex flex-col items-center justify-between bg-lightPrimaryDevshop  desktop:flex w-4/12 h-full py-4 ">
        <figure class="cursor-pointer desktop:w-full"> 
            <a (click)="navigateTo('')">
                <img  src="../../../../assets/img/logo-t.png" alt="Identidad corporativa"  class="desktop: h-24 pr-28 ">
            </a>
        </figure>
        <div class="tablet:flex leading-none bg-darkPrimaryDevshop desktop:flex"></div>
        <p class="ext-base text-darkPrimaryDevshop">One either loves it or one hates it</p>
    </section>
   
    <section class="bg-darkPrimaryDevshop w-full mt-0 pt-2 tablet:hidden desktop:hidden">
        <ul class="flex flex-row items-center justify-around">
            <li class="cursor-pointer">
                <a (click)="navigateTo('')"  class="text-lightNeutralDevshop"><fa-icon [icon]="faHouse" ></fa-icon></a>
            </li>
            <li class="cursor-pointer">
                <a (click)="navigateTo('login')" class="text-lightNeutralDevshop"><fa-icon [icon]="faUser"></fa-icon></a>
            </li>
            <li class="cursor-pointer">
                <a (click)="navigateTo('cart')" class="text-lightNeutralDevshop"><fa-icon [icon]="faCartShopping"></fa-icon></a>
            </li >
            <li class="cursor-pointer">
                <a (click)="navigateTo('catalog')"  class="text-lightNeutralDevshop"><fa-icon [icon]="faAddressCard"></fa-icon></a>
            </li>
        </ul>
    </section>
</footer>
